*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.logo-icon{
    display: flex;
}

.logo {
    display: flex;
    margin-left: 135px;
    
}
.logo-txt a {
    margin-left: 75px;
    color: black;
    font-size: 18px;
}
.logo a{
    margin-left: 10px;
    font-weight: 500;
    text-decoration: none;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}
.bin {
    display: flex;
    justify-content: space-between;
    margin-left: 146px;
}
.bin-icon {
    margin-left: 105px;

}
.telephone {
    margin-left: 20px;
}
.font {
    margin-right: 15px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin-left: 30px;
    text-decoration: none;
}
.font:hover{
    color: #6E9C9F;
    transition: all ease 0.5s;
    
}
.font-main {
    color: #6E9C9F;
    font-size: 15px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
}
.font-m {
    color: #6E9C9F;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
}


.font-main2 {
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin-left: 30px;
    text-decoration: none;
}
.font-main2:hover {
    color: #6E9C9F;
    transition: all ease 0.5s;
}

.js-open-modal{
    display: inline-block;

}
.js-open-modal:hover {
    width: 30px;
    height: 30px;
    transition: 0.5s;
    background-image: url("../photos/Vector (4).png");
    background-size: cover;
}
.big-text{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
    text-align: left;
    margin-top: 256px;
    margin-left: 135px;

}
.subtext{
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-left: 137px;
}
.subtext span{
    display: block;
    height: 2px;
    width: 15px;
    background: #000;
    margin: 0 10px;
}
.subtext-of-big-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    text-decoration: none;
}
.subtext-of-big-text2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #919191;
    text-decoration: none;
}
.map{
    width: 1000px;
    height: 400px;
    margin: 50px auto;
}
.m-menu-body{
   
    margin-left: 180px;
    display: flex;
    margin-top: 130px;
}
.m-menu-body li{
    list-style-type: none;
    width: 330px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    letter-spacing: 0.02em;

    color: #000000;

}
.i-menu-body{
    margin-left: 180px;
    display: flex;
    margin-top: 130px;
}
.i-menu-body li{
    list-style-type: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 287px;
    margin-top: -110px;
    letter-spacing: 0.02em;

    color: #000000;

}
.middle-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;

    letter-spacing: 0.02em;
    margin-left: 176px;
    margin-top: 45px;
    color: #000000;
}
.input-line input{
    display: block;
    margin-left: 176px;
    outline: none;
    width: 350px;
    margin-top: 55px;
    border: none;
    border-bottom: 1px solid black;
    padding: 37px 0px;
}
.input-line textarea{
    display: block;
    outline: none;
    margin-left: 176px;
    margin-top: 55px;
    border: none;
    border-bottom: 1px solid black;
    padding: 37px 0px;
    width: 480px;       
}
.button{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;

    letter-spacing: 0.02em;
    margin-left: 176px;
    margin-top: 95px;

    
}
.buttonLink{

    color: #FFFFFF;
    text-decoration: none;
    background-color: #6E9C9F;
    padding: 30px 75px;
    
}
.success{
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    display: none;
    background: #F1EADC;
    width: 400px;
    padding: 30px 100px;
    font-family: 'Raleway';
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #000000;
}

.showSuccess{
    display: block;
}
.footer {
    margin-top: 130px;
    background: #F1EADC;
}

.footer-body {
    padding: 102.5px 0;
    display: flex;
    justify-content: space-around;
}

.footer1 {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    align-items: center;
}
.f1-text {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 15px;

}
.f1-subtext {
    font-weight: 400;
    font-size: 13px;
    margin-top: 73px;
}


.f2-nav {
    display: flex;
    justify-content: space-between;
}

.f2-main {
    color: #6E9C9F;
    font-size: 15px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
}
.font-foot2 {
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin-left: 30px;
    text-decoration: none;
}
.font-foot2:hover {
    color: #6E9C9F;
    transition: all ease .5s;
    cursor: pointer;
}
.f2-main-shop {
    color: #6E9C9F;
    transition: all ease .5s;
    cursor: pointer;
}
.font-foot-shop {
    color: #6E9C9F;
    font-size: 15px;
    font-weight: 700;
    margin-left: 30px;
    text-decoration: none;
}
.f2-main-shop {
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin-left: 30px;
    text-decoration: none;
}
.footer2 {
    width: 500px;
}

.footer3 {
    width: 300px;
}
.footer-list{
    margin-top: 40px;
}
.footer-list li {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 20px;


}
.footer-list a {
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    color: black;
}
.footer-list li a:hover {
    color: #6E9C9F;
    transition: all ease .5s;

    cursor: pointer;
}
.f3-t {
    font-weight: 400;
    font-size: 15px;
    margin-left: 22px;
}
.f3-sub {
    font-weight: 400;
    font-size: 15px;
}
.f3 {
    margin-top: 35px;
    margin-left: 70px;
    justify-content: space-around;
}
.f3-photo {
    margin-left: 8px;
}
.f3-visa {
    margin-top: 35px;
}
.f-photo {
    margin-left: 100px;
}